<div class="et_pb_section et_pb_section_0 et_pb_with_background et_pb_fullwidth_section et_section_regular">




    <section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_bg_layout_light et_pb_text_align_right et_pb_fullscreen" style="min-height: 422px;">


  <div class="et_pb_fullwidth_header_container right" style="min-height: 422px;">
    <div class="header-content-container center">
    <div class="header-content">

      <h1 class="et_pb_module_header">Ethan &amp; Michael</h1>
      <span class="et_pb_fullwidth_header_subhead">are getting married</span>
      <div class="et_pb_header_content_wrapper"></div>

    </div>
  </div>

  </div>
  <div class="et_pb_fullwidth_header_overlay"></div>
  <div class="et_pb_fullwidth_header_scroll"><a href="#"><span class="scroll-down et-pb-icon"></span></a></div>
</section>


</div>
