<div class="app-body">
  <div class="divider1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon
        class="svg--sm"
        fill="#F7F6F4"
        points="0,50 25,0 75,100 100,50 100,100 0,100"
      />
    </svg>
  </div>

  <div class="divider2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
      preserveAspectRatio="none"
    >
      <polygon
        class="svg--sm"
        fill="white"
        points="0,50 25,0 75,100 100,50 100,100 0,100"
      />
    </svg>
  </div>


  <app-hotels></app-hotels>
  <app-registries></app-registries>
</div>

<div id="footer">
  <em>Designed by Ethan Leners, Developed by Michael Johnson</em>
</div>
