/* footer */
#footer {
  background-color: #2b5649;
  padding: 10px 10px 10px;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 12px;
}
