/* date block */
@media only screen and (max-width: 400px) {
  .date {
    margin: 10% 0% !important;
    font-size: 60px !important;
  }
}

.date {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 70px;
  color: #2b5549 !important;
  line-height: 1.3em;
  text-align: center;
  font-weight: 300;
  margin: 5%;
}


/* venue block */
.container {
  padding: 0 3%;
  box-sizing: border-box;
}

.venue {
  background: #f7f6f4;
}

.venue-header {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 44px;
  color: #444235 !important;
  line-height: 1.3em;
  text-align: center;
  font-weight: normal;
  padding: 20px;
  margin: 0;
}

.venue-address {
  font-family: Helvetica,Arial,Lucida,sans-serif;
  text-align: left;
  color: #666;
  font-weight: 500;
  font-size: 19px;
  line-height: 1.3em;
}

.venue-direction-button {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 20px;
  color: #FFFFFF!important;
  border-color: #2b5649;
  background-color: #2b5649;
  font-weight: 400;
  padding: .3em 1em;
  margin: 20px 0;
}

.venue-events {
  list-style-type: none;
  font-family: Helvetica,Arial,Lucida,sans-serif;
  text-align: left;
  color: #666;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}


/* border around venue section */
svg {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 62px;
}

.divider1 {
  background: white;
  height: 62px;
}

.divider2 {
  background: #f7f6f4;
  height: 62px;
  padding-top: 40px;
}
