.hotel-card {
  /* width: 85%; */
  /* box-sizing: border-box; */
  /* margin: auto; */
  /* padding: 20px 20px 5px 20px; */
  text-align: center;
  background-color: rgba(209, 197, 186, 0.16);
  border-radius: 20px;
  width: 100%;
  margin: 3% 10%;
}

.hotel-title {
  /* padding: 0.5em 1.2em; */
  border: 2px solid;
  font-weight: 500;
  border-radius: 3px;
  font-size: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #ffffff;
  display: inline-block;
  border-color: #2b5649;
  background-color: #2b5649;
}

.hotel-description {
  color: #666;
  font-size: 14px;
}

.hotel-icon {
  margin: 15px 5px;
  font-size: 30px;
  color: #d1af83;
}

.outter {
  margin-top: 20px;
}

.hotel-container {
  text-align: left;
}

.hotel-address-height {
  margin: 15px 0;
}

.hotel-address {
  text-align: left;
  /* float: left; */
  /* width: 100%; */
  /* height: 70px; */
  text-decoration: none;
  font-size: 17px;
  line-height: 1.9em;
  color: #666666;
}
