<mat-card class="hotel-card" (window:resize)="onResize()">
  <a class="mat-card-title" href="{{ hotel.hotelUrl }}" target="_blank">
    <mat-card class="hotel-title">
      {{ hotel.name }}
    </mat-card>
  </a>
  <p class="hotel-description">({{ hotel.description }})</p>
  <div [ngClass]="{ 'hotel-container': isTablet || isMobile }">
    <div fxLayout="row" fxLayoutAlign.lt-md="center" fxLayoutAlign="left">
      <a href="{{ hotel.gpsUrl }}">
        <i class="material-icons hotel-icon">
          location_on
        </i>
      </a>
      <a href="{{ hotel.gpsUrl }}" class="hotel-address">
        {{ hotel.address1 }} <br />
        {{ hotel.address2 }}
      </a>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign.lt-md="center" fxLayoutAlign="left">
    <i class="material-icons hotel-icon">
      smartphone
    </i>
    <p class="hotel-address hotel-address-height">
      <span>
        {{ hotel.phone }}
      </span>
    </p>
  </div>
</mat-card>
