<mat-card class="hotel-card" (window:resize)="onResize()">
  <a class="mat-card-title" href="{{ hotel.hotelUrl }}" target="_blank">
    <mat-card class="hotel-title">
      {{ hotel.name }}
    </mat-card>
  </a>
  <p class="hotel-description">({{ hotel.description }})</p>
  <div [ngClass]="{ 'hotel-container': isTablet || isMobile }">
    <mat-grid-list cols="5" rowHeight="80px" class="a4">
      <a href="{{ hotel.gpsUrl }}">
        <mat-grid-tile colspan="1">
          <i class="material-icons hotel-icon">
            location_on
          </i>
        </mat-grid-tile>
      </a>
      <mat-grid-tile colspan="4">
        <a href="{{ hotel.gpsUrl }}" class="hotel-address">
          {{ hotel.address1 }} <br />
          {{ hotel.address2 }}
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div [ngClass]="{ 'hotel-container': isTablet || isMobile }">
    <mat-grid-list cols="5" rowHeight="80px" class="a4">
      <mat-grid-tile colspan="1">
        <i class="material-icons hotel-icon">
          smartphone
        </i>
      </mat-grid-tile>
      <mat-grid-tile colspan="4">
        <p class="hotel-address" style="padding-top: 35px">
          <span>
            {{ hotel.phone }}
          </span>
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-card>
