/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  /* width: 100%; */
  
}

body {
  background-color: #FFFFFF;
  margin: 0;
}

.section-header {
  font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
  font-size: 60px;
  color: #444235 !important;
  line-height: 1.3em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0;
}
